<a href="/"><button class="btn2">Escolher outra BR</button></a><br>
<a href="/login_br13"><button class="btn3">Login</button></a><br>
<h2>Consulta - BR13</h2><br>
<!-- Formulário de Filtro -->
<form action="/index_funcionario_br13" method="GET">
  <label for="equipamento_nome">Equipamento:</label>
  <select id="equipamento_nome" name="equipamento_nome" >
    <option value="">Tudo</option>
    {{#each equipamentos}}
    <option value="{{this.nome}}" {{#ifCond this.nome ../filtroEquipamento}}selected{{/ifCond}}>{{this.nome}}</option>
    {{/each}}
  </select><br>

  <label for="categoria">Categoria:</label>
  <select id="categoria" name="categoria" >
    <option value="">Tudo</option>
    <option value="Elétrica" {{#ifCond "Elétrica" categoria}}selected{{/ifCond}}>Elétrica</option>
    <option value="Mecânica" {{#ifCond "Mecânica" categoria}}selected{{/ifCond}}>Mecânica</option>
    <option value="Diversos" {{#ifCond "Diversos" categoria}}selected{{/ifCond}}>Diversos</option>
  </select><br>
  <label><input type="text" id="nome_peca" name="nome_peca" placeholder="Nome da Peça"></label><br><br>

  <button type="submit" class="btn">Filtrar</button><br>
</form>

<table>
  <thead>
    <tr>
      <th>Nome da Peça</th>
      <th>SAP</th>
      <th>Categoria</th>
      <th>Equipamento</th>
    </tr>
  </thead>
  <tbody>
    {{#each Pecas}}
    <tr>
      <td>{{this.nome_peca}}</td>
      <td>{{this.SAP}}</td>
      <td>{{this.categoria}}</td>
      <td>{{this.equipamento_nome}}</td>
      
    </tr>
    {{/each}}
  </tbody>
</table>
